.connectWalletBtn {
    height: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    background-color: #f1c232;
    border-radius: 5px;
    margin-bottom: 2.5rem;
    transition: 500ms ease-in-out;
}

.connectWalletBtn:hover {
    transform: scale(1.2);
    background-color: #f1c232;
    color: #fff;
}
