button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0366d6;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.sign-in-form {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: fit-content;
  align-self: center;
}

.sign-in-form > h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
