* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  cursor: pointer;
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: rgb(99, 156, 205);
}


.nav-bar {
  width: fit-content;
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  padding: 20px 10px 10px;
  border-bottom: 1px solid black;
}

.nav-bar > h1 {
  font-size: 32px;
  font-weight: 600;
}

.logout {
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 10px;

}

.routes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  /* border: 1px solid black; */
  height: 90vh;
}

.routes > * {
  background-color: white;
  border-radius: 15px;
  margin: 10px 5px;
  padding: 10px 15px;
  font-size: 20px;
}
